<main class="page__main">
  <h1 class="title">
Buscador de series 
  </h1>

  <!--FORMULARIO-->
  <form class="form js__form">
    <input 
    type="text"
    class="form__input js__input"
    placeholder="Buscar serie"
    />
    <button class="form__button js__button">Buscar</button>
  </form>

  <div class="container">
    <!--FAVORITOS-->
    <section class="favorites">
      <h2 class="favorites__title js__favorites__title">Favoritas</h2>
      <ul class="favorites__list js__favorites"></ul>
    </section>

    <!--RESULTADOS-->
    <section class="results">
      <h2 class="results__title js__results__title">Resultados</h2>
      <ul class="results__list js__results"></ul> 
    </section>
  </div>
</main>
